body{
    background-color: black;
}
h2 {
    margin-top: 60px; 


}
.ujumine{
    color:white;
    font-size: 20px;
    /* padding: 145px;
    border-spacing: 40px 10px; */
    width: 65%;
	height: 300px;
    background-image: url("uju.jpg");
    font-weight: 250;
    margin-left: auto;
    margin-right: auto;
}
.Sõudmine{
    color:white;
    font-size: 20px;
	width: 65%;
	height: 300px;
    background-image: url("aer.jpg");
    /* font-weight: 300; */
    margin-left: auto;
    margin-right: auto;
}
.section-1{
    color: black;
    font-size: 20px;
	width: 65%;
	height: 300px;
    background-image: url("rada.jpg");
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
}
.section-2{
    color:black;
    font-size: 20px;
	width: 65%;
	height: 300px;
    background-image: url("suusk.jpg");
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;   
}