@import url('https://fonts.googleapis.com/css2?family=Meddon&family=Work+Sans:wght@300&display=swap');
*{
    font-family: 'Meddon', cursive;
	font-family: 'Work Sans', sans-serif;
}

body{
    background-color: lightcyan;
}